.passwordBox {
  position: relative;
  width: 60rem;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  padding: 10rem 5rem;
  text-align: center;

  .closeIcon {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 3rem;
  }
  .title,
  .subTitle {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .passwordInput {
    height: 8rem;
    width: 45rem;
    font-size: 4rem;
    border: 1px solid #000;
    border-radius: 2rem;
  }
  .noPasswordTxt {
    font-size: 2.2rem;
    color: #999;
    margin: 3rem 0;
  }
  .warmingTxt {
    font-size: 2.2rem;
    color: red;
    margin: 3rem 0;
  }
  .confirm {
    width: 40rem;
    height: 8rem;
    text-align: center;
    line-height: 8rem;
    font-size: 2.6rem;
    border-radius: 2rem;
    color: var(--text-color-black);
    font-weight: bold;
    margin: 0 auto;
    background-color: var(--primary-selected-color);
  }
}
