.switchBox {
  & > div {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
  }
  .open {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAVJJREFUWEftlkFOwzAQRf9QibSqD8EeDlHuAPteBGJ3wzHYI+4A3KFdcggkS5UrYSOjGlmu26TOkAjUrOP5z/+PR0MY+KOB9XEC2HHAKFETYeYcZpzxEOH10+JtIrWM6+YAlgAuOcWjWquq1ldNAM7/UNWatT+MEtm6OQdOAP/DgbUU390eur7XHvDiZ4TaA1gH5SF6A4jFewdIxQHIqtbKgxQ7YOT0wYJMOsHSQXVIvBhgs5g+Okfz2MrchGwSLwYwStwCeAqioaFiiDbixQDbg3sh9jVczqXiHshB+OayDhSeWlNEnRwIt0njiG+ZiyZ1oZMDhyDaiLM4kINoK84K4Iut5fiCRtVofPfx3nZxYYmgrRj7K+giHEX3RzaizUK8cG/EwQW/GZ/f6+vY0Z2dcDvdbn5hM15Zh+fGtZwj72NqsK7exwj/xFJyiPPM4A58AQ5OKzDRRx96AAAAAElFTkSuQmCC');
  }
  .close {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAJJJREFUWEftlsEJgDAQBNd6tAjtwUKuAy1hC7EHtQdTjxJQCBgJSEI+G8gv7C1zeUyDyqepPB8q8CJgZhOA/r45N7QB2EnOYWiswAGgzTk5yHIku1SB0z8gmfV/mFk0N0ZABURABERABERABERABKoTWAsY8eOhG8khJaVem8cCZuwALEktL6Tjn7FZ1ftPeRW4ACXBtiExKY1kAAAAAElFTkSuQmCC');
  }
}
