.tipBox {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 26rem);
  flex-wrap: wrap;
  .tipType,
  .tipTitle {
    display: flex;
    align-items: center;
    margin: 0.5rem;
  }
  .tipIpt {
    margin: 0 0.5rem;
    padding: 0.5rem;
    width: 5rem;
  }
}
