.footerInfo {
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  text-align: center;
  z-index: 0;
  .logoImg {
    height: 45px;
  }
}

.footerInfoOrderFinishLandscape {
  left: 25%;
  bottom: 6rem;
}