.switchBox {
  position: relative;
  border-radius: 5rem;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 9rem;
  padding: 0.5rem;
  background-color: #0c122b;
  color: #fff;

  &.Dark {
    background-color: #0c122b;
    color: #fff;
  }

  &.Light {
    background-color: #e7e7ea;
    color: #333;
  }

  .occupied {
    width: 3.8rem;
    height: 3.8rem;
    display: none;
    &.Dark {
      display: block;
    }

    &.Light {
      display: block;
    }
  }
  .icon {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background: #fff;
    top: 0.2rem;
    padding: 0.5rem;
    &.Dark {
      left: 0.5rem;
    }

    &.Light {
      right: 0.5rem;
    }
  }
}
