.resizeBlock::after{
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid transparent;
  pointer-events: none;
}
.resizeBlock:hover::after {
  border: 1px dashed #fba600
}
.resizeBlock:active::after {
  border: 1px solid #fba600
}

.currentResizeBlock::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 1px solid #fba600;
  pointer-events: none;
}