.logoBox {
  display: flex;
  position: relative;
  width: calc(100vw);
  justify-content: space-between;
  align-items: center;
  height: 8.8rem;
  background: #fff;
  padding: 0 4rem;
  box-sizing: border-box;
  box-shadow: 0.1rem 0.2rem 2.3rem rgba(0, 0, 0, 0.1);
  z-index: 1;
  position: fixed;

  .navigateLeft {
    display: flex;
    align-items: center;
    .comboItemsTitle {
      font-size: 4rem;
      font-weight: 600;
      margin-left: 5rem;
    }
  }
  .backPrePage {
    transform: rotate(180deg);
    width: 2rem;
    padding-left: 2rem;
  }

  .navigateRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    // gap: 2rem;
  }

  .langIcon {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    div {
      font-size: 2.4rem;
    }
    span {
      margin-top: 1rem;
      display: block;
      width: 0;
      height: 0;
      border: 1rem solid #666;
      border-top-color: #666;
      border-bottom-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
    }
  }
}
