.typeBox {
  margin-right: 2rem;
  display: flex;
  justify-content: flex-end;
  width: calc(100% - 26rem);
  flex-wrap: wrap;
  .typeItem {
    margin: 0.5rem;
  }
  .checkText {
    margin-left: 0.5rem;
  }
  & > div {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

