@mixin dialog-box-style($width: 60rem) {
  width: $width !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 6rem 4rem;
  border-radius: var(--border-radius-dialog);;
  background-color: #fff;
}
