@import '../../assets/scss/themes.scss';

.soldoutBox {
  @include dialog-box-style(64rem);
  .title {
    margin: 3rem 0;
    font-size: 3.6rem;
  }
  .soldoutContent {
    position: relative;
    width: 100%;
    max-height: 30rem;
    font-size: 3.6rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .name {
      text-align: left;
      font-size: 3rem;
      margin-bottom: 2rem;
    }
    .name:last-child {
      margin-bottom: 0;
    }
  }
  .soldoutBtn {
    margin: 3rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // gap: 2rem;
    .reorder,
    .continue {
      flex: 1;
      height: 8rem;
      text-align: center;
      line-height: 8rem;
      font-size: 3rem;
      border-radius: 10rem;
      color: var(--text-color-black);
      font-weight: bold;
    }
    .reorder {
      background-color: var(--background-grey);
    }
    .continue {
      background-color: var(--primary-selected-color);
      margin-top: 2rem;
    }
  }
  .soldoutBtn + div[class*='requireCategoryTip'] {
    width: 100%;
    padding-top: 2rem;
    height: auto;
    border-bottom: 0;
    & > div {
      overflow: visible;
      text-overflow: initial;
      white-space: normal;
    }
  }
  .soldoutTip {
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
    word-wrap: break-word;
  }
}
