.configContainer {
  position: relative;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;

  .footer {
    height: 60px;
    padding: 0 16px;
    display: flex;
    align-items: center;
    margin-top: auto;
    flex-shrink: 0;
  }
  .backup {
    display: flex;
    align-items: center;
  }
}
