@import '../../assets/scss/themes.scss';

.descModalWrapper {
  @include dialog-box-style(80rem);
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;

    .text {
      font-weight: 700;
      color: #000;
      font-size: 4rem;
      word-break: break-word;
    }
  }
  .content {
    font-size: 3.4rem;
    word-break: break-word;
    min-height: 30rem;
    max-height: 150rem;
    overflow-y: scroll;
    line-height: 1.5;
  }
}
