@import '../../assets/scss/themes.scss';

.finishWarp {
  height: calc(100vh - 10rem);
  padding-top: 10rem;
  display: flex;
  align-items: center;

  .receiptArea {
    flex-basis: calc(50% - 6rem);
    height: calc(100% - 12rem);
    margin-right: 6rem;
    box-sizing: border-box;
    background: #f8f9fa;
    border-radius: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .receiptBox {
      margin: 2.4rem auto 0;
    }

    &.receiptNotFinishArea {
      padding-top: 10rem;
      justify-content: flex-start;
    }
  }

  .finishBox.withReceiptArea {
    flex-basis: 50%;
    min-height: 56rem;
  }

  .finishBox {
    flex: 1;
    flex-basis: 100%;
    transition: flex-basis 0.5s ease;
    margin: 0 auto;
    min-height: 115.6rem;
    height: auto;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .boxHeader {
      width: 70%;

      .title {
        font-size: 4rem;
        margin-bottom: 1.6rem;
        color: #000;
        text-align: center;
        font-weight: 700;
      }

      .currentOrderNum {
        font-size: 6rem;
        margin-bottom: 2.4rem;
        color: #000;
        font-weight: 700;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 23rem;
        justify-content: space-between;

        .orderNumber {
          font-size: 10rem;
        }
      }
    }

    .close {
      margin: 5rem auto 0;
      width: 76rem;
      color: var(--text-color-black);
      font-size: 4rem;
      height: 10rem;
      text-align: center;
      line-height: 10rem;
      border-radius: 10rem;
      font-weight: 600;
      background-color: var(--primary-selected-color);
    }
  }

  .receiptBox {
    width: 65.5rem;
    margin: 0 auto;

    .payBox {
      font-size: 3.2rem;
      color: #000;
      width: 100%;
      margin: 4.3rem auto 0;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
    }

    .payBox::before {
      content: '';
      width: 100%;
      height: 1px;
      background-color: #000;
      position: absolute;
      top: -50%;
      left: 0;
    }

    .jineBox {
      width: 100%;
      margin: 0 auto;
      color: #000;
      font-size: 3.2rem;

      .jine {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 1.2rem auto 0;
      }

      .discount {
        color: #369c00;
      }

      .taxInfo {
        color: #00000099;
        padding-left: 4rem;
        margin: 1rem auto 0;
      }
    }
  }

  .point {
    text-align: center;
    width: 100%;
    padding: 4rem 0;
    margin: 2.4rem 0;
    background-image: linear-gradient(
      to right,
      var(--background-crm-login) 0,
      var(--primary-color) 50%,
      var(--background-crm-login) 100%
    );

    .pointDesc {
      font-size: 4rem;
      font-weight: bold;
    }

    .star {
      width: 5rem;
      height: 6rem;
      display: inline-block;
      background-image: url('../../assets/images/starWhite.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      vertical-align: text-bottom;
    }
  }

  .smsDescription {
    width: 75.5rem;
    margin-bottom: 2.4rem;
  }
  .cashPaymentDescription {
    width: 73.5rem;
    margin-bottom: 3.2rem;
  }
  .smsDescription,
  .cashPaymentDescription {
    font-size: 3.2rem;
    color: #000000;
    text-align: center;
    background: #0000000d;
    padding: 3rem 4rem;
    border-radius: 4rem;
    box-sizing: border-box;

    .smsTxt {
      display: flex;
      justify-content: center;

      .smsIcon {
        width: 3.8rem;
        height: 4rem;
        margin-right: 1rem;
      }
    }

    .smsPhoneNumber {
      font-weight: bold;
      margin: 0 0 1rem;
    }
  }

  .swipeImageBx {
    width: 62rem;
    margin: 0 auto;
  }

  .receipt {
    text-align: center;
    font-size: 4rem;
    color: #000;
    font-weight: 600;
    margin-top: 8rem;
  }

  .finishBtn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.4rem auto 0;
    white-space: nowrap;

    & > div {
      width: 20rem;
      height: 20rem;
      box-sizing: border-box;
      color: var(--text-color-black);
      font-size: 2.2rem;
      text-align: center;
      border-radius: 1.3rem;
      font-weight: 600;
      margin-left: 4rem;
      border: 0.08rem solid rgba(0, 0, 0, 0.1);
      box-shadow: 0.06rem 0.1rem 1.1rem 0 rgba(0, 0, 0, 0.05);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &:nth-of-type(1) {
        margin-left: 0;
      }
      .icon {
        height: 6.5rem;
      }
      .txt {
        margin-top: 2.4rem;
      }
    }

    &.finishSmallerBtn {
      & > div {
        width: 16rem;
        height: 16rem;
        font-size: 2rem;
      }
    }
  }

  .containerBox {
    @include dialog-box-style;

    .itemBox {
      text-align: center;
      color: #333;

      .itemName {
        font-size: 3.6rem;
        font-weight: bold;
        margin: 2rem;
        word-wrap: break-word;
        word-break: break-word;
      }

      .subItemName {
        font-size: 3rem;
      }

      .paidBox {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        font-weight: 900;

        & > span {
          margin: 0 2rem;
          font-size: 2.6rem;
          color: var(--primary-color);
        }
      }
    }

    .itemBox + div {
      margin-top: 4rem;
      width: 30rem;
      text-align: center;
      height: 8rem;
      line-height: 8rem;
      color: #000;
      font-size: 3rem;
      border-radius: 10rem;
      background-color: var(--primary-color);
    }
  }
}

@media screen and (max-width: 1201px) {
  .finishWarp {
    .smsDescription,
    .cashPaymentDescription {
      width: 76rem;
    }

    .receipt {
      margin-top: 4.8rem;
    }
  }
}
