.orderSettingItem {
  margin-bottom: 16px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
}

.selector {
  width: 200px;
  font-size: 16px;
}

.cardHeader_checkbox {
  font-weight: normal;
  margin-left: 60px;
}

.cardHeader_tip {
  color: #96272F;
}

.extraContent {
  margin-top: 16px;
}



.dishIntervalMinutesLimitBtns {
  display: flex;
  align-items: center;
  gap: 10px;

  > button {
    transition-duration: 0s;
  }

  .btnHidden {
    visibility: hidden;
  }
}
