.togoPanel {
  margin: auto;
  height: 100%;
  padding-top: 29rem;

  .togoPanelInner {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;

    .togoPanelTitle {
      text-align: center;
      font-size: 4rem;
      color: #000;
      font-weight: 700;
      margin-bottom: 8rem;
    }
    .togoPanelBox {
      margin: 0 auto;
      .togoItem {
        position: relative;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        min-width: 55rem;
        height: 12rem;
        line-height: 12rem;
        font-size: 4rem;
        font-weight: 600;
        border-radius: 10rem;
        border: 0.2rem solid rgba(0, 0, 0, 0.1);
        padding: 2.5rem 4rem 2.5rem 3rem;
        box-sizing: border-box;
        .checkIcon {
          position: absolute;
          left: 3rem;
          top: -0.5rem;
        }
        .name {
          width: 100%;
          white-space: nowrap;
          text-align: center;
          transition: transform 0.3s ease;
          transform: translateX(0);
        }
        &.togoItemActived {
          border: 0.6rem solid var(--primary-selected-color);
          // .checkIcon {
          // }
          .name {
            width: calc(100% - 7rem);
            transform: translateX(7rem);
            text-align: right;
          }
        }
      }
    }
  }
}
.btnBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  flex-direction: column;
  div {
    margin: 0 auto;
    width: 55rem;
    height: 10rem;
    line-height: 10rem;
    border-radius: 10rem;
    color: var(--text-color-black);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }
  .actived {
    background-color: var(--primary-selected-color);
  }
  .noActived {
    background: var(--primary-color-disabled);
    color: #0000004d;
  }
  .never {
    margin-bottom: 4rem;
    background-color: var(--background-grey);
  }
}

@media screen and (max-width: 1201px) {
  .togoPanel {
    padding-top: 41rem;
    .togoPanelInner {
      height: 65rem;
    }
  }

  .btnBox {
    margin-top: 30rem;
  }
}
