@import '../../assets/scss/themes.scss';

.tipBox {
  @include dialog-box-style(72rem);
  .title {
    font-weight: bold;
    margin: 3rem 0;
    font-size: 3rem;
    text-align: center;
    line-height: 1.6;
  }
  .tipBtn {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    justify-content: center;
    .confirmCash,
    .confirmCard {
      width: 30rem;
      height: 8rem;
      text-align: center;
      line-height: 8rem;
      font-size: 3rem;
      border-radius: 10rem;
      color: var(--text-color-black);
      font-weight: bold;
      box-sizing: border-box;
    }
    .confirmCash {
      margin-right: 2.5rem;
      background-color: var(--background-grey);
    }
    .confirmCard {
      background-color: var(--primary-selected-color);
    }
  }
}
