.footBtnBox {
  width: 166.6667%;
  background-color: #ffffff;
  position: fixed;
  bottom: 0;
  display: flex;
  height: 19.3rem;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 5rem 0 7rem;
  border-radius: 10rem 0 0 0;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.03);
  z-index: 3;
  transform: scale(0.6);
  transform-origin: left bottom;

  & > div[class*='back'] {
    background-color: rgba(102, 102, 102, 0.8);
    & > i[class*='icon_iconfont'] {
      color: #fff !important;
    }
  }
}
.cartIcon {
  display: inline-block;
  position: relative;
  .cart {
    width: 12rem;
    height: 12rem;
    transform-origin: right bottom;
  }
  .count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-52%) translateY(-38%);
    text-align: center;
    color: #000;
    font-size: 6rem;
    font-style: normal;
    font-weight: 800;
  }
}
@keyframes cartAdd {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cartAnimation {
  animation: cartAdd 0.5s ease-in-out;
}

@keyframes countAdd {
  0% {
    top: 50%;
    opacity: 1;
  }
  25% {
    top: 0;
    opacity: 0.5;
  }
  50% {
    top: -50%;
    opacity: 0;
  }
  75% {
    top: 0;
    opacity: 0.5;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}

.countAnimation {
  animation: countAdd 0.5s ease-in-out;
}

.actived {
  background-color: var(--primary-selected-color);
}
.noActived {
  background: var(--primary-color-disabled);
  color: #0000004d;
}
.rightBtns {
  min-width: 60rem;
}
.footContent {
  position: relative;
  min-width: 60rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 11rem;
  border-radius: 10rem;
  color: #000;
  font-weight: bold;
  font-size: 3.6rem;
  &.hasDiscount {
    justify-content: flex-start;
    padding-left: 4rem;
  }
  .text {
    overflow: hidden;
  }
  .total::before {
    content: '•';
    margin: 0 0.5em; /* 控制圆点左右间距 */
    color: #000; /* 修改颜色 */
  }
  .discountInfo {
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 1.2rem 2.4rem;
    background: #000;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    right: 0.5rem;
    top: 0.5rem;
    height: 10rem;
    box-sizing: border-box;
    .right_img {
      width: 3.6rem;
      height: 2.7rem;
      margin-right: 0.8rem;
    }
    .savedInfo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      color: #fff;
      .saved {
        font-size: 2rem;
      }
      .discountNum {
        font-size: 2.8rem;
      }
    }
  }
}
.footContentSameWidth {
  width: calc(100vw - 43em);
}

@media screen and (max-width: 1201px) {
  .footBtnBox {
    width: 100%;
    transform: none;
  }
  .footContent {
    height: 9rem !important;
    .discountInfo {
      height: 8rem !important;
    }
  }
}
