.promotionWrapper {
  height: 100%;
  position: relative;
  background-color: #fff;
  .mainWrapper {
    height: calc(100vh - 17rem);
    background: #f2f2f2;
    display: flex;
    padding: 2rem;
    .innerWrapper {
      width: 100%;
      height: 100%;
      background: #fff;
      overflow-y: auto;
    }
  }
}
