.comboStepBox {
  width: 100%;
  box-sizing: border-box;
  .sctHeaderContainer {
    float: left;
    color: #333;
    overflow: hidden;
    width: 30rem;
    height: 100vh;
    background-color: #fff;
    padding: 10rem 0 20rem;
    box-sizing: border-box;
  }
  .fullComboPanel {
    position: relative;
    height: 100vh;
    background: #f0f0f0;
    // padding: 10rem 0 20rem;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    .seeMore {
      position: fixed;
      bottom: 25rem;
      right: 2rem;
      z-index: 10;
      transform: rotate(90deg);
      // .more {
      //   font-size: 3rem;
      //   color: #0090ff;
      // }
      .moreIcon {
        background: #fff;
        padding: 2rem;
        border-radius: 50%;
        box-shadow: var(--shadow-color);
      }
    }
  }
}
.footBtnBox {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  height: 19.3rem;
  padding: 0 4rem;
  box-sizing: border-box;
  z-index: 3;
  background-color: #ffffff;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.03);
  border-radius: 10rem 0 0 0;
}
