.keyboardBox {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 0px 20px 0;
  box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.9);
  z-index: 10;
}
.closeKeyboard {
  height: 50px;
  span {
    float: right;
    margin: 10px 20px 0;
    width: 32px;
    height: 32px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAQBAMAAADpKDJvAAAAKlBMVEUAAACKioqJiYmPj4+JiYmJiYmJiYmKioqLi4uKioqJiYmJiYmHh4eKioqFCDArAAAADXRSTlMAwNAQcPCgkECwgFAg5XmrdgAAAFZJREFUCNdjcBSEADGGuzDAsBMqJsKAAGuhkhcZdOHqeqGM6wwsUJYyA0MumHH1AAODEZh1G6iZJxbEKgCywHougRhgPcEgBlhPA4gG6bkFtZB5Ikg9AD3UQo1+SIxuAAAAAElFTkSuQmCC')
      center center no-repeat;
  }
}
