.keysWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 5rem auto;
  justify-content: center;
  width: 66rem;
  box-sizing: border-box;
}

.btnWrapper {
  width: 20rem;
  height: 13rem;
  box-sizing: border-box;
  margin: 0 0 6rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-grey);
  border-radius: 8rem;

  .btnNum {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--text-color-black);
    font-size: 4.8rem;
    font-weight: 700;
  }
  .times {
    width: 5.9rem;
    height: 3.4rem;
  }
}
.btnWrapper:active {
  background-color: var(--primary-color);
}

.btnWrapper.btnSelected {
  background-color: var(--primary-color);

  // .btnNum {
  //   color: #fff;
  // }
}

// 中间的按键添加左右间距
.btnWrapper:nth-child(3n - 1) {
  margin: 0 3rem 6rem;
}

// 【0】按键宽度是别的按键的两倍
.btnWrapper.zeroBtn {
  width: 43rem;
}

// 最后的退格键只要下和左间距
.btnWrapper.delBtn {
  margin: 0 0 6rem 3rem;
}
