.serviceBox {
  font-size: 1.6rem;
  position: relative;
  background-color: #fff;
  .serviceContent {
    margin-top: 0.2rem;
    height: calc(100vh - 13rem);
    background-color: #d8d8d8;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
