@import '../../assets/scss/themes.scss';

.containerBox {
  @include dialog-box-style(80rem);
}
.title {
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 3rem;
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  width: 6rem;
  height: 6rem;
  background-color: #eee;
  border-radius: 50%;
}
.itemBox {
  text-align: center;
  color: #333;
  .itemName {
    font-size: 3.6rem;
    font-weight: bold;
    margin: 3rem 0;
  }
  .subItemName {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}
.btnBox {
  display: flex;
  justify-content: center;
  margin-top: 4rem; 
  flex-direction: column;
  // gap: 2rem;
  span {
    display: inline-block;
    width: 38rem;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    margin: 0 1.4rem;
    color: var(--text-color-black);
    border-radius: 4rem;
    font-weight: bold;
  }
  .cash {
    background-color: var(--background-grey);
  }
  .continueOrder {
    background-color: var(--primary-selected-color);
    margin-top: 2rem;
  }
  .orderNoCash {
    width: 40rem;
  }
}
