.back {
  position: fixed;
  left: 4rem;
  bottom: 8rem;
  width: 9rem;
  height: 9rem;
  border: 1px solid #666;
  border-radius: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
