.drawBody {
  width: 90vw;
  background-color: #fff;
  border-radius: var(--border-radius-dialog);
  .header {
    flex: 1;
    padding: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text {
      font-weight: 700;
      font-size: 4rem;
      color: #000000d9;
      width: 100%;
      word-break: break-word;
      text-align: center;
    }

    .backPrePage {
      position: absolute;
      left: 5rem;
      width: 2rem;
      padding-right: 2rem;
    }
  }
  .contentTopBox {
    position: relative;
    min-height: calc(100vh - 80rem);
    max-height: calc(100vh - 35rem);
    padding-bottom: 2rem;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .maxNote {
    font-size: 2.4rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }

  & > div[class*='VtKeyboard'] {
    border-radius: 0 0 2rem 2rem;
  }
}

.leftBox,
.rightBox {
  width: calc(50% - 8rem);
  display: inline-block;
  font-size: 3.6rem;
  padding: 0 3rem;
  .title {
    color: var(--text-color-black);
    font-size: 3.6rem;
    padding: 0 0 2rem;
    font-weight: 700;
    .sub {
      color: #999;
      margin-left: 1rem;
      font-size: 3rem;
      font-weight: 400;
    }
  }
  // .title:before {
  //   content: '';
  //   display: inline-block;
  //   width: 1.5rem;
  //   height: 1.5rem;
  //   background-color: var(--primary-color);
  //   vertical-align: middle;
  //   margin-right: 1rem;
  //   border-radius: 1rem;
  // }
  .word {
    color: #333;
    font-size: 3rem;
    word-wrap: break-word;
    word-break: break-word;
  }
  .singlePrice {
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 8rem;
    height: 8rem;
    font-size: 2.8rem;
  }
  .textContent {
    width: calc(100% - 14rem);
    min-height: 12rem;
    background-color: #f2f2f2;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #333;
    border-radius: 2rem;
    padding: 2rem;
    padding-right: 6rem;
    resize: none;
    border: 0;
    &:focus {
      outline: none;
      border: 0;
    }
  }
  .iconEmpty {
    position: relative;
    left: -7rem;
    top: -1rem;
  }
}

.leftBox {
  float: left;
  padding-left: 5rem;
  .areaImg {
    height: 50rem;
  }
}

.leftBox:empty {
  display: none;
}

.leftBox:empty + div.rightBox {
  padding: 0 3rem;
  width: calc(100% - 6rem);
}

.rightBox {
  float: right;
  padding-right: 5rem;
  .area {
    margin-top: 2rem;
    .title {
      margin-top: 2rem;
      .required {
        // position: absolute;
        // right: 2rem;
        // top: 2rem;
        display: inline-block;
        color: var(--text-color-black);
        background-image: url('../../../assets/images/labelBg.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        padding: 0.3rem 3rem 0.5rem 5rem;
        font-size: 2.4rem;
        margin-left: 2.5rem;
        -webkit-animation: require 0.8s infinite;
        animation: require 0.8s infinite;
      }
    }
  }
  .areaFixCombo {
    .title {
      margin-top: 2rem;
    }
  }
}

@keyframes require {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-2rem);
    transform: translateX(-2rem);
  }
}

@media screen and (max-width: 1201px) {
  .rightBox,
  .leftBox {
    width: calc(100% - 4rem);
    padding: 0 2rem;
    margin-bottom: 2rem;
  }
}

.foot {
  padding: 0 4rem;
  width: 100%;
  height: 19rem;
  box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.03);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10rem;
  box-sizing: border-box;
  .countBtn {
    display: flex;
    align-items: center;
    text-align: center;
    .muiDiyIcon {
      font-size: 6rem !important;
    }
    .count {
      font-size: 4rem;
      color: #000;
      margin: 0 3rem;
      font-weight: 700;
    }
    .btnDis {
      background-color: var(--background-grey);
      width: 8rem;
      height: 8rem;
      color: #000;
    }
    .btnEn {
      background-color: var(--primary-color);
      width: 8rem;
      height: 8rem;
      color: #000;
      box-shadow: none;
    }
  }
  .addCart {
    color: #000;
    padding: 3rem 8rem;
    border-radius: 10rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 3.6rem;
    background-color: var(--primary-selected-color);
    .price {
      display: flex;
      align-items: center;

      .pointImg {
        height: 4rem;

        & ~ span {
          color: #333;
          margin-left: 1rem;
        }
      }
    }
    .price::before {
      content: '•';
      margin: 0 0.5em; /* 控制圆点左右间距 */
      color: #000; /* 修改颜色 */
    }

    &.addCartDisabled {
      background: var(--primary-color-disabled);
    }
  }
}

@media screen and (max-width: 1201px) {
  .contentTopBox {
    min-height: calc(90vh - 80rem);
    max-height: calc(90vh - 75rem);
  }
}
