.loginGuide {
  position: relative;
  background-color: #fff;
}

.wrapper {
  padding: 2rem;
  height: calc(100vh - 13rem);
  overflow-x: hidden;
  overflow-y: auto;

  .picItemTitle {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    border-radius: 2rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.3);
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;

    .switchBox {
      display: flex;
      align-items: center;
      justify-content: center;
      .switch {
        margin: 0 2rem;
      }
    }
  }

  .picBox {
    display: flex;
    margin-bottom: 3rem;

    .picItemBox {
      display: flex;
      margin-right: 3rem;
      img {
        width: 100%;
        height: 100%;
        vertical-align: bottom;
        object-fit: cover;
      }
      .picRecommend {
        margin-top: 2rem;
        font-size: 2rem;
      }
      .picv {
        width: 20rem;
        height: 30rem;
        img {
          object-fit: contain;
          object-position: center;
        }
      }
      .pich {
        width: 30rem;
        height: 20rem;
        img {
          object-fit: contain;
          object-position: center;
        }
      }
      .fileBox {
        margin: 1rem 3rem;
        font-size: 1.4rem;
        .file {
          margin: 0.5rem;
          margin-bottom: 6rem;
        }
        .fileBtn {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem;
          width: 15rem;
          border: 1px solid #ccc;
          border-radius: 0.5rem;

          .cloudUpload {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
          }
        }
        .fileName {
          width: 20rem;
          padding: 1rem 0;
          word-break: break-word;
        }
        .btnDelete {
          // width: 18rem;
          text-align: center;
          padding: 1rem;
          border: 1px solid #ccc;
          margin-top: 2rem;
          border-radius: 0.5rem;
          cursor: pointer;
        }
        .btnDelete:hover {
          background-color: #e6e6e6;
          border-color: #adadad;
        }
      }
    }
  }
}
