.logoutWrapper {
  font-weight: 500;
  padding: 0.8rem 2rem;
  font-size: 1.6rem;
  border-radius: 3rem;
  color: rgba(255, 255, 255, 0.8);
  border: 0.1rem solid rgba(255, 255, 255, 0.8);
  margin-left: 1rem;
  flex-shrink: 0;
}
