.loginBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  // height: 18.8rem;
  // padding: 0 3.2rem 0 0;
  // background: var(--background-crm-login);
  font-size: 3rem;
  color: #000;
  width: 100vw;
  box-sizing: border-box;
  margin-top: 8.8rem;
}
