.ruleTitle {
  font-size: 3.6rem;
  font-weight: bold;
  color: var(--text-color-black);
  margin: 2rem 0;
}

.ruleList {
  display: grid;
  justify-content: space-around;
  // height: 100%;
  align-items: center;
  justify-items: center;
  grid-row-gap: 2rem;

  .ruleItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 35rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 1rem 0 #0000000d;
    flex: 0 0 auto;
    overflow: hidden;
    background: #fff;
    box-sizing: border-box;
    &.ruleVoucherItem {
      height: 45rem;
    }
    .ruleDiscount {
      font-size: 6rem;
      font-weight: bold;
      color: #fff;
      width: 100%;
      box-sizing: border-box;
      padding: 6rem 0;
      text-align: center;
      background-image: linear-gradient(to bottom, #9dbd8f 50%, #51743eb2 100%);
      // letter-spacing: 0.09em;
    }
    .ruleVoucherDiscount {
      background-image: linear-gradient(to bottom, #ac8dff 50%, #6934f8 100%);
    }
    .ruleCondition {
      color: var(--text-color-black);
      font-size: 2.6rem;
      margin-top: 2rem;
      padding: 0 2rem;
      .discountTxt {
        color: #369c00;
      }
    }
    .ruleVoucherCondition {
      margin: 0.5rem 0;
      .discountTxt {
        color: #704fcb;
      }
    }
    .voucherExpire {
      color: var(--text-color-black);
      font-size: 2.6rem;
      padding: 0 2rem;
      font-weight: bold;
    }
    .ruleInfo {
      color: var(--text-color-black);
      font-size: 2.6rem;
      margin-top: auto;
      padding: 0 2rem 2rem;
      box-sizing: border-box;
      font-weight: bold;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .pts {
        display: flex;
        align-items: center;
        .pointImg {
          width: 2.8rem;
          height: 2.8rem;
          margin-right: 1rem;
        }
      }

      .voucherNum {
      }
    }

    .voucherName {
      box-sizing: border-box;
      font-weight: bold;
      color: var(--text-color-black);
      font-size: 2.6rem;
      padding: 1rem 2rem 0;
    }
  }
  .ruleItemSelected {
    // border: 0.8rem solid var(--primary-selected-color);
    box-shadow: 0 0 0 0.4rem var(--primary-secondary-color);
  }
  
  .disabledItem {
    opacity: 0.6;
  }

  .disabled {
    .ruleCondition,
    .ruleInfo {
      color: #00000066;
    }
  }
}
