.alertDialog {
  z-index: 9999;
}
.alertWrapper {
  background: #fff;
  padding: 32px;
  min-width: 420px;
  position: relative;
  .alertTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    line-height: 28px;
  }
  .alertMsg {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    overflow-wrap: anywhere;
  }
  .alertLanguage {
    position: absolute;
    right: 0;
    top: 0;
  }
}
