.tagItem {
  display: flex;
  align-items: center;
  background: #fffbf2;
  padding: 0.4rem 1rem;
  border-radius: 1rem;
}
.imgTag {
  // width: 4rem;
  height: 2.5rem;
  margin-left: 1rem;
}
.textTag {
  font-size: 2.4rem;
  color: #f26e21;
}
