.callerWrapper {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;
  overflow: hidden;
  .title {
    margin: 28rem 0 5rem;
    font-size: 4rem;
    font-weight: 700;
    color: #000;
    text-align: center;
  }
  .contentWrapper,
  .inputWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
      width: 90rem;
      text-align: center;
      font-size: 3rem;
      color: #999;
      margin-bottom: 3.2rem;
    }
    .showPhone {
      width: 60rem;
      height: 13rem;
      color: var(--text-color-black);
      font-weight: bold;
      line-height: 13rem;
      border-radius: 20rem;
      background: var(--background-grey);
      text-align: center;
      outline: none;
      border: none;
      font-size: 6rem;
      box-shadow: 0.1rem 0.2rem 1rem rgba(0, 0, 0, 0.1) inset;
      margin: 8rem auto;

      /* 针对 WebKit/Blink 浏览器 (Chrome, Safari, Edge) */
      &.showPhone::-webkit-inner-spin-button,
      &.showPhone::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* 针对 Firefox */
      &.showPhone {
        -moz-appearance: textfield;
      }

      &::placeholder {
        color: #00000066;
        font-family: 'Inter';
        font-size: 4rem;
        font-weight: 400;
      }
    }
  }
  .confirmBtn {
    color: var(--text-color-black);
    font-size: 3rem;
    width: 60rem;
    height: 10rem;
    line-height: 10rem;
    text-align: center;
    border-radius: 10rem;
    font-weight: bold;
    margin: 5rem auto 0;
    background-color: var(--primary-selected-color);

    &.disableConfirm {
      background: var(--primary-color-disabled);
      color: #0000004d;
    }
  }

  .horizontalWithImage {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: calc(100% - 12rem);

    .formWrapper {
      width: 90rem;
    }

    .title {
      margin-top: 0;
    }

    .numberPlateImage {
      width: 70rem;
      height: 70rem;
      object-fit: contain;
    }
  }

  .verticalWithImage {
    .title {
      margin-top: 18rem;
    }

    .inputWrapper .showPhone {
      margin: 8rem auto;
    }

    .numberPlateImage {
      display: block;
      width: 70rem;
      height: 45rem;
      margin: 5rem auto 0;
      object-fit: contain;
    }
  }
}

@media screen and (max-width: 1201px) {
  .callerWrapper {
    .title {
      margin: 36rem 0 5rem;
    }
    .inputWrapper {
      .showPhone {
        margin: 23rem auto 48rem;
      }
    }

    .verticalWithImage {
      .title {
        margin-top: 18rem;
      }

      .inputWrapper .showPhone {
        margin: 8rem auto;
      }
    }
  }
}
