.tipBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 16rem;
  margin: 0 0 1rem 0;
  text-align: center;
  font-size: 3.8rem;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 10rem;
  background-color: var(--background-grey);
  box-sizing: border-box;
  .tipBtnText {
    font-weight: bold;
  }
}
.tipBtnSelected {
  border: 0.6rem solid var(--primary-color);
  padding-left: 4rem;
  &.customTip {
    justify-content: space-around;
  }
  .tipBtnTxtBox {
    transform: translateX(-1rem);
  }
}

.tipBtnTxtBox {
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1201px) {
  .tipBtn {
    margin: 0 0 3rem 0;
  }
}
