@import '../../assets/scss/themes.scss';

.partySizePage {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  background-color: #fff;
}

.partySizePageBox {
  padding-top: 12rem;
  margin: 0 auto;
}

.partySizeTitle {
  margin-bottom: 6rem;
  font-weight: 700;
  font-size: 4rem;
  color: #000;
  text-align: center;
}

.actionRow {
  display: flex;
  flex-direction: column;
  width: 67rem;
  margin: 0 auto;
}

.never {
  width: 100%;
  color: #000000d9;
  font-size: 4rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  border-radius: 10rem;
  background-color: var(--background-grey);
  font-weight: bold;
  margin-bottom: 2rem;
}

.btnConfirm {
  width: 100%;
  color: #000000d9;
  font-size: 4rem;
  height: 10rem;
  text-align: center;
  line-height: 10rem;
  border-radius: 10rem;
  background-color: var(--primary-selected-color);
  font-weight: bold;

  &.btnNoConfirm {
    background: var(--primary-color-disabled);
    color: #0000004d;
  }
}

@media screen and (max-width: 1201px) {
  .partySizePageBox {
    padding-top: 19rem;
  }
  .numPadWrap {
    margin-bottom: 8rem;
  }
}
