#kioskNetworkStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  margin-left: 2rem;
}

.speed {
  margin-left: 0.8rem;
  color: var(--primary-color);
  font-size: 2.4rem;
}

.netImg {
  width: 4.4rem;
}

.localTime {
  width: 10.5rem;
  margin-left: 1.2rem;
  color: #000;
  font-size: 2rem;
  font-variant-numeric: tabular-nums;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
