.LangSwitchContainer {
  border: 0.2rem solid rgba(0, 0, 0, 0.1);
  border-radius: 5.6rem;
  color: var(--text-color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: 0.8rem 0;
  box-sizing: border-box;
  font-size: 2.4rem;
  width: 11.7rem;
  font-weight: bold;
  height: 5rem;
  margin-left: 2rem;
  padding: 0.8rem;
  .LangSwitchItem {
    flex: 1;
    text-align: center;
    border-radius: 1.7rem;
    line-height: 140%;
  }
  .LangSwitchItemActive {
    background-color: var(--primary-color);
    flex: 1.3;
  }
}
