
.inventoryBox {
  font-size: 1.6rem;
  position: relative;
  background-color: #fff;
  .inventoryContent {
    height: calc(100vh - 6rem);
    background-color: #d8d8d8;
  }
  .search {
    position: fixed;
    top: 1rem;
    right: 5rem;
    height: 4rem;
    input {
      font-size: 1.4rem;
      display: block;
      width: 20rem;
      height: 100%;
      background-color: #f2f2f2;
      border-radius: 10rem;
      color: #999;
      outline-style: none;
      border: none;
      background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAATlBMVEVHcEyfn5+ZmZmXl5eXl5eZmZmZmZmXl5eampqZmZmZmZmZmZmYmJiZmZmYmJiYmJiYmJiZmZmZmZmZmZmYmJiYmJiZmZmYmJiYmJiZmZnSaZdSAAAAGXRSTlMAEFBgIIDwQDDA76Df4L+fsH+vcG/Qz0+QElnBdQAAAPBJREFUKM99k9mWhCAMRAtkVbTXWe7//+g8SDuodNcDcs5NICSl9JJ7LguU5fKjs+LCpvFm9tDcgfnXxzj4DBTb0lQgxy3WB7g1dCTswl2GyxZdCOlQygRD3eYzla7g1prBnl9iZpaanDsPlYUoya2fs76YJD2Yu1QPiqTM1McOkpTxfSyIdelqZviEM77GvD/87d0GojT1uyJZWFfTxTUv9E93dWae0XWT126aUGez07AN3DbWaAx0fe093A/l+bZb09GbcoExtTfx/azuSZKUdtxlAMoyUk2254rTXH+S2sUDl1IcvP2vKAWKPijN1z/Lew/aObNsCgAAAABJRU5ErkJggg==');
      background-size: 1.6rem 1.6rem;
      background-repeat: no-repeat;
      background-position-x: 1rem;
      background-position-y: 1.2rem;
      padding: 0 4rem 0 3.6rem;
    }
  }
  .iconEmpty {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 1rem;
    cursor: pointer;
  }
  .type {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: #fff;
    .radioBox {
      display: flex;
      & > div {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        cursor: pointer;
      }
    }
  }
  .one {
    margin: 0.5rem 0;
    padding: 1rem 2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .open {
      font-size: 1.4rem;
      position: relative;
      padding: 1rem 2rem;
      color: #fff;
      background-color: #c8c9cc;
      border-radius: 2rem;
      cursor: not-allowed;
    }
    .open.actived {
      background-color: var(--primary-color);
      cursor: pointer;
    }
  }
  .noFood {
    font-size: 2rem;
    padding: 1rem 0;
    text-align: center;
  }
  .foodListTree {
    height: calc(100vh - 20rem);
    overflow-x: hidden;
    overflow-y: auto;
  }
}
