.reward_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 5.2rem;
  }
  .reward_filter {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 8px;
    color: #000;
    font-size: 3rem;
    font-weight: 400;
    border-radius: 10rem;
    width: 72.6rem;
    height: 8.4rem;
    margin-bottom: 4rem;
    .filter_item {
      flex: 1;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 10rem;
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
      &.selectedType {
        background: #e6e6e6;
      }
    }
  }
  .memberInfo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4rem;
    .phone {
      font-size: 2.8rem;
    }
    .assets {
      display: flex;
      align-items: center;
      font-size: 2.8rem;
      .pointsImg {
        width: 3.3rem;
        height: 4.1rem;
        margin: 0 0.2rem 0 0.8rem;
      }
      .pts {
        font-weight: 600;
        font-size: 3rem;
      }
    }
    &.memberInfoPhone {
      justify-content: flex-end;
    }
  }

  .pointList {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 4rem;
    overflow-x: auto;
    .pointItem {
      min-width: 16.3rem;
      height: 6.8rem;
      line-height: 6.8rem;
      text-align: center;
      font-size: 3rem;
      border: 1px solid #000;
      border-radius: 10rem;
      margin-right: 1.6rem;
      &.select {
        background: #000;
        color: #fff;
      }
    }
  }
}
