.deleteContainer {
  width: 100%;
  height: 100%;
  .deleteBox {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 6rem 4rem 0;
    border-radius: var(--border-radius-dialog);

    .deleteList {
      position: relative;
      height: 50vh;
      max-height: 80vh;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      .itemBox {
        margin-bottom: 1rem;
        position: relative;
        font-size: 3rem;
        min-height: 8rem;
        border-bottom: 0.1rem solid #eee;
        .itemLeft {
          width: calc(100% - 25rem);
          .opt {
            color: #555;
            width: 100%;
            white-space: pre-wrap;
          }
          .price {
            padding: 1.5rem 0;
            color: var(--primary-color);
            font-weight: bold;
            white-space: pre-wrap;
          }
          .note {
            white-space: pre-wrap;
            font-size: 3rem;
            color: #333;
            width: calc(100% + 25rem);
            word-wrap: break-word;
            word-break: break-word;
          }
        }
      }
    }
    .sizePrice {
      font-size: 3rem;
      padding: 1rem 0;
    }
    .comboDeleteList {
      padding: 2rem 3rem;
      margin-bottom: 1rem;
      position: relative;
      font-size: 3rem;
      border-bottom: 0.1rem solid #eee;
      & > div:not(.calcBox) {
        width: calc(100% - 25rem);
      }
      .sidenavBox {
        .sidenavTitle {
          padding: 1rem 0;
          font-weight: bold;
        }
      }
      .price {
        padding: 1.5rem 0;
        color: var(--primary-color);
        font-weight: bold;
        white-space: pre-wrap;
      }
      .comboItemBox {
        color: #555;
        padding: 4px 0;
        white-space: pre-wrap;
      }
      .note {
        padding-top: 1rem;
      }
    }
    .calcBox {
      position: absolute;
      bottom: 2rem;
      right: 0;
      width: 25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      .muiDiyIcon {
        font-size: 4rem !important;
      }
      .btnDis {
        background-color: #ddd;
        width: 6rem;
        height: 6rem;
        color: #000;
      }
      .btnEn {
        background-color: var(--primary-secondary-color);
        width: 6rem;
        height: 6rem;
        color: #000;
        box-shadow: none;
      }
      & > .qty {
        margin: 0 3rem;
        text-align: center;
        font-size: 4rem;
        font-weight: 700;
      }
    }
    .deleteBottom {
      padding-left: 3rem;
      width: 100%;
      height: 19rem;
      box-shadow: 0 0 10rem 0 rgba(0, 0, 0, 0.03);
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10rem;
      box-sizing: border-box;
      .cartIcon {
        display: inline-block;
        position: relative;
        .cart {
          width: 8rem;
          height: 8rem;
        }
        .count {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-52%) translateY(-38%);
          text-align: center;
          color: #000;
          font-size: 4rem;
          font-style: normal;
          font-weight: 800;
        }
      }
      .addCart {
        color: #000;
        padding: 3rem 8rem;
        border-radius: 10rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 3.6rem;
        background-color: var(--primary-selected-color);
        .price {
          display: flex;
          align-items: center;
        }
        .price::before {
          content: '•';
          margin: 0 0.5em; /* 控制圆点左右间距 */
          color: #000; /* 修改颜色 */
        }
      }
    }
  }
}
.itemName {
  font-weight: bold;
  font-size: 3.6rem;
}
