.labelSetting {
  padding: 24px 16px;
  background: #fff;
  height: 100%;
  overflow-y: auto;
  .operationRow {
    display: flex;
    justify-content: flex-start;
    margin-top: 16px;
    .add {
      width: 180px;
      height: 50px;
      font-size: 24px;
    }
  }
  .listWrapper {
    margin-top: 24px;
    .labelItem {
      border: 1px solid #d9d9d9;
      padding: 16px;
      margin-bottom: 16px;
      .basicRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .namePic {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .imgIcon {
            width: 20px;
            height: 20px;
            margin-left: 8px;
          }
        }
      }
    }
  }
}

.formWrapper {
  padding: 24px;
}
