.brandWrapper {
  height: 100%;
  position: relative;
  background-color: #fff;
  .mainWrapper {
    height: calc(100vh - 13rem);
    background: #f2f2f2;
    display: flex;
    padding-top: 2px;
  }
}
