.sizeItem {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  width: calc(50% - 2rem);
  padding: 2.7rem;
  color: rgba(0, 0, 0, 0.7);
  height: 10rem;
  box-sizing: border-box;
  margin-bottom: 2rem;
  box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, 0.2);
  border-radius: 2rem;
}

.sizeItem:nth-child(2n + 1) {
  margin-right: 2rem;
}

.sizeItemChecked {
  box-shadow: 0 0 0 0.6rem rgba(0, 0, 0, 0.7);
  
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 150%;
      height: 100%;
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.1) 75%,
        transparent
      );
      transform: translateX(-100%);
      // animation: slideIn 1s cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  99% {
    transform: translateX(-10%);
    opacity: 1;
  }

  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}

.bannerProItem {
  display: flex;
  flex-direction: column;
  transition: left 0.8s ease;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  font-size: 2.4rem;
  align-items: center;
  .bannerProItemName {
    font-weight: 700;
  }
}

.sizeItemChecked {
  .bannerProItem {
    left: 11rem;
    transform: translate(0);
    align-items: flex-start;
  }
}

.comboSection {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  user-select: none;
}
.strikethroughPrice {
  margin-left: 1.5rem;
  text-decoration: line-through;
  // text-decoration-thickness: 2px;
  color: gray;
  font-size: 2.5rem;

  i {
    font-style: normal;
  }

  .min {
    margin-left: 0.2rem;
  }
}

.checkIcon {
  color: rgba(0, 0, 0, 0.7);
  font-weight: normal;
}

.sizeItemDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
