.categoryTipBox {
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  font-size: 2.4rem;
  color: #000;
  height: 6.4rem;
  .tipTitle {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
