.serviceBox {
  font-size: 1.6rem;
  position: relative;
  background-color: #fff;
  .serviceContent {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0.2rem;
    height: calc(100vh - 13rem);
    background-color: #d8d8d8;
    .leftCategory {
      width: 30rem;
      background: #fff;
      overflow: auto;
    }
    .rightContent {
      padding: 1rem;
      width: calc(100% - 30rem);
      overflow-x: hidden;
      overflow-y: auto;
      & > div:nth-child(odd) {
        background-color: var(--background-grey);
      }
    }
  }

  .serviceShow {
    display: flex;
  }
  .serviceHide {
    display: none;
  }
}
