.policyBox {
  position: relative;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .policyContent {
    padding: 20rem 0;
    width: 85rem;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footerOperation {
  display: flex;
  justify-content: center;
  .policyBtn {
    width: 60rem;
    line-height: 10rem;
    border-radius: 5rem;
    font-size: 4.4rem;
    background: var(--primary-color);
    text-align: center;
    color: #000;
    margin-top: 5rem;
  }
}
