.afterPayContainer {
  padding-top: 16rem;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  box-sizing: border-box;
  background-color: #fff;

  &.afterAllPayContainer {
    padding-top: 10rem;
  }
}

.title {
  font-size: 3.8rem;
  color: var(--text-color-black);
  font-weight: bold;
  text-align: center;
}

.panelSubTitle {
  font-size: 2.2rem;
  margin-top: 4rem;
}

.content {
  margin: 2rem auto 0;
  box-sizing: border-box;

  .tipItems {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-content: center;
    justify-items: center;

    .basicTip {
      width: 30rem;
      grid-column: span 1;
    }
    .middleTip {
      width: 62rem;
      grid-column: span 2;
    }
    .largeTip {
      width: 94rem;
      grid-column: span 3;
    }
  }
}

.btnContainer {
  // width: 62rem;
  margin: 15rem auto 0;
  box-sizing: border-box;

  .configTip {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    gap: 2rem;
    justify-content: center;
    justify-items: center;

    .basicTip {
      width: 30rem;
      grid-column: span 1;
    }
    .middleTip {
      width: 62rem;
      grid-column: span 2;
    }
    .largeTip {
      width: 94rem;
      grid-column: span 3;
    }
  }
}

.editBtn {
  width: 67rem;
  height: 12rem;
  line-height: 12rem;
  margin: 8rem auto 0;
  color: var(--text-color-black);
  font-size: 4rem;
  border-radius: 10rem;
  font-weight: bold;
}

.actived {
  background: var(--primary-color);
}

.noActived {
  background: var(--primary-color-disabled);
  color: #0000004d;
}

@import '../../assets/scss/themes.scss';

.containerBox {
  @include dialog-box-style(75rem);
}

.itemBox {
  width: 55rem;
  text-align: center;
  color: #000;

  .itemName {
    font-size: 3rem;
    font-weight: bold;
    margin: 0 0 5rem;
  }

  .inputCustomTipBox {
    position: relative;

    .unit {
      position: absolute;
      font-size: 6rem;
      font-weight: bold;
      left: 6rem;
      top: 50%;
      transform: translateY(-50%);
    }

    .customInput {
      font-weight: bold;
      height: 13rem;
      line-height: 13rem;
      border-radius: 20rem;
      background: var(--background-grey);
      text-align: center;
      outline: none;
      border: none;
      width: 100%;
      font-size: 6rem;
      padding-left: 13rem;
      box-sizing: border-box;
      text-indent: -13rem;

      /* input上下键 针对 WebKit/Blink 浏览器 (Chrome, Safari, Edge) */
      &.customInput::-webkit-inner-spin-button,
      &.customInput::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* 针对 Firefox */
      &.customInput {
        -moz-appearance: textfield;
      }
    }
  }
}

.btnBox {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  flex-direction: column;

  // gap: 2rem;
  span {
    display: inline-block;
    width: 55rem;
    height: 10rem;
    font-size: 3.2rem;
    text-align: center;
    line-height: 10rem;
    margin: 0 1.4rem;
    color: var(--text-color-black);
    border-radius: 8rem;
  }

  span:first-child {
    background-color: var(--background-grey);
  }

  span:last-child {
    background-color: var(--primary-selected-color);
    margin-top: 2rem;
  }
}

@media screen and (max-width: 1201px) {
  .afterPayContainer {
    padding-top: 29rem;
  }

  .content {
    .tipItems {
      grid-template-columns: repeat(2, max-content);
    }
  }

  .btnContainer {
    margin: 26rem auto 0;
    .configTip {
      grid-template-columns: repeat(2, max-content);
    }
  }

  .editBtn {
    width: 62rem;
    margin: 19rem auto 0;
  }
}
