.scrollContainer {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: relative;

  .content {
    padding: 20px;
  }

  .bottomLottie {
    width: 100%;
    pointer-events: none;
  }
}
