.tagWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-height: 10rem;
  overflow: hidden;
  .new {
    width: 10rem;
    height: 10rem;
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color-black);
    background: var(--primary-color);
    position: absolute;
    right: -5rem;
    top: -5rem;
    transform: rotate(45deg);
    .newText {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      white-space: nowrap;
    }
  }
}
