.authSettingWrapper {
  height: 100%;
  .innerContent {
    height: 100%;
    background: #fff;
    overflow: auto;
    padding: 24px 16px 0;
    .settingItem {
      margin-bottom: 16px;
      border: 1px solid #d9d9d9;
      border-radius: 10px;
    }
  }
}