.imageList {
  display: flex;
  gap: 3rem;
  padding-top: 2rem;
}

.imageItem {
  display: flex;
  flex: 1;
  min-width: 0;
}

.preview {
  width: 22rem;
  height: 22rem;
  border: 1px solid #ddd;
  background-color: #f7f7f7;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.verticalPreview {
  width: 28rem;
  height: 18rem;
}

.imageInfo {
  margin-left: 2rem;
  font-size: 1.4rem;
  line-height: 1.8;
}

.imageTitle {
  margin-bottom: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.uploadButton,
.deleteButton {
  box-sizing: border-box;
  width: 15rem;
  margin-top: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer;
}

.uploadButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadIcon {
  width: 2rem !important;
  height: 2rem !important;
  margin-right: 1rem;
}

.deleteButton:hover {
  border-color: #adadad;
  background-color: #e6e6e6;
}
