.containerBox {
  position: relative;
  top: 55% !important;
  width: 75%;
  padding: 8.8rem 10.2rem 0;
  border-radius: 10rem;
  box-sizing: border-box;
  background-color: #fff;
  background-image: url(../../../assets/images/loginBgH.png);
  background-size: 100% calc((100% + 18.8rem) * 0.5);
  background-position: bottom;
  background-repeat: no-repeat;

  .swipeImageBx {
    position: absolute;
    top: 0;
    right: 10%;
    transform: translate(0, -50%) rotateY(180deg);
    width: 40%;
  }

  .notMember {
    color: rgba(0, 0, 0, 0.6);
    font-weight: 800;
    font-style: italic;
    font-size: 5rem;
  }

  .joinNow {
    color: rgba(42, 40, 34, 1);
    font-weight: 800;
    font-style: italic;
    font-size: 8rem;
    margin: 1.4rem 0 6.4rem 0;
    .registerBr {
      display: inline-block;
    }
  }
  .benefitsList {
    display: flex;
    flex-direction: row;
    align-items: center;

    .benefits {
      color: #000;
      font-weight: 500;
      font-size: 3.2rem;
      margin-bottom: 2.4rem;
      display: flex;
      align-items: center;

      img {
        width: 3.9rem;
        margin-right: 0.5rem;
      }
    }
    .benefitsGift::before,
    .benefitsGift::after {
      content: '|';
      margin: 0 3.5rem;
    }
  }

  .joinBtn {
    width: 44%;
    background-color: rgba(42, 40, 34, 1);
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    border-radius: 10rem;
    text-align: center;
    padding: 3.6rem 0;
    margin: 5.4rem 0 8.7rem 0;
    box-sizing: border-box;
  }
  .dialogBgImg {
    width: 100%;
  }
}

.picContainerBox {
  padding: 0;
  background: none;
}

.closeIcon {
  position: absolute;
  right: 0;
  top: -10rem;
  font-size: 6.3rem;
  color: #fff;
  font-weight: 800;
}

@media screen and (max-width: 1201px) {
  .containerBox {
    width: 80%;
    padding: 18.8rem 7.7rem 0;
    background-image: url(../../../assets/images/loginBgV.png);

    .swipeImageBx {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%) rotateY(180deg);
      width: 55%;
    }

    .joinNow {
      .registerBr {
        display: block;
      }
    }

    .benefitsList {
      flex-direction: column;
      align-items: flex-start;
      .benefits {
        img {
          margin-right: 3.2rem;
        }
      }

      .benefitsGift::before,
      .benefitsGift::after {
        content: '';
        margin: 0;
      }
    }
    .joinBtn {
      width: 73%;
      margin: 14.9rem auto 9.4rem;
    }
  }
  .picContainerBox {
    padding: 0;
    background: none;
  }
  .closeIcon {
    top: -19.6rem;
  }
}
