.serviceBox {
  padding: 2rem;
  padding-right: 0;
  margin-bottom: 0.2rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .serviceTop {
    word-break: break-word;
  }
  .serviceBottom {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    flex-wrap: wrap;
    .checkText {
      margin-left: 0.5rem;
    }
    .radioText {
      margin-left: 0.2rem;
    }
    & > div {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      cursor: pointer;
    }
  }
  .foodSet {
    i {
      margin: 0 1rem;
      font-style: normal;
    }
  }
}
