.tipMessageWrapper {
  padding: 24px 16px 0;
  background: #fff;
  height: 100%;
  overflow-y: auto;
  :global {
    .ant-form-item {
      margin-bottom: 8px;
    }
    .ant-form-item-label {
      padding-bottom: 0;
    }
    .ant-space-vertical {
      width: 100%;
    }
  }
}
