@import '../../assets/scss/themes.scss';

.orderDiscountInfo {
  @include dialog-box-style;
  position: relative;
  align-items: flex-start;
  padding: 8.8rem 9rem;

  .closeIcon {
    right: 3rem;
    top: 3rem;
    width: 4rem;
    position: absolute;
  }
  .discountListWrap {
    max-height: 63rem;
    overflow-y: auto;
  }
  .headerText {
    font-size: 4rem;
    font-weight: 700;
    // margin-bottom: 4rem;
    display: flex;
    align-items: center;
    .PROMOTIONTAG {
      width: 2rem;
      margin-right: 1.6rem;
    }
  }
  .discountList {
    .discountGroup {
      margin-top: 4rem;
      .groupTitle {
        font-size: 3rem;
        font-weight: 600;
        margin-bottom: 0.8rem;
      }
    }
    .discountItem {
      font-size: 3rem;
      font-weight: 400;
      margin-bottom: 0.8rem;
      padding-left: 2rem;
    }
  }
}
