@import '../../assets/iconfont/iconfont.css';


.iconfont {
  font-family: 'iconfont' !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-language:before {
  content: '\e693';
}

.icon-a-ziyuan47:before {
  content: '\e607';
}

.icon-fenxiang:before {
  content: '\e600';
}

.icon-more:before {
  content: '\e656';
}

.icon-svg_warn:before {
  content: '\e7ce';
}

.icon-check:before {
  content: '\e65a';
}

.icon-refresh:before {
  content: '\e672';
}

.icon-round_close_light:before {
  content: '\e7ee';
}

.icon-close:before {
  content: '\e6e5';
}

// icon颜色
.icon-more,
.icon-check,
.icon-svg_warn {
  color: var(--primary-color);
}
.icon-round_close_light {
  color: #999;
}
