#kioskMobyBattery {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.linkImg {
  width: 2rem;
}

.batteryTxt {
  font-size: 2.4rem;
  color: #000000b2;
  font-weight: 600;
  margin-left: 0.8rem;
}
