@import '../../../assets/scss/themes.scss';

.itemInfoBx {
  //width: 30rem;
  margin: 2rem 0rem;
  //margin-bottom: 0;
}

.itemListContainer {
  flex: 1;
  position: relative;
  height: calc(100vh - 8rem);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.itemListInner {
  display: grid;
  //grid-template-columns: repeat(4, 24%);
  justify-content: space-between;
  overflow: hidden;
  grid-row-gap: 16px;
  padding: 2rem 3rem 0;
  height: 100%;
}

.itemListInner + div[class*='bottomToast'] {
  padding-bottom: 12.8rem;
}

.cateBox {
  margin-bottom: 4.8rem;
  height: calc(100% - 4.8rem);
}

.cateText {
  padding: 3rem;
  font-size: 5rem;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.descContainer {
  padding: 0 3rem 0;
  .innerDesc {
    background-color: #fff;
    position: relative;
    padding: 0 2rem;
    .descText {
      padding: 0 5rem 0 2rem;
      margin: 0;
      height: 9rem;
      line-height: 9rem;
      font-size: 2.8rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .overflowSign {
    &:after {
      position: absolute;
      content: '>';
      right: 2rem;
      bottom: 0;
      font-size: 4rem;
      color: #999;
    }
  }
}

.descModalWrapper {
  @include dialog-box-style;
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 2rem;

    .text {
      font-weight: 700;
      color: #000;
      font-size: 4rem;
      word-break: break-word;
    }
  }
  .content {
    font-size: 3.4rem;
    word-break: break-word;
    height: 30rem;
    max-height: 80rem;
    overflow-y: scroll;
  }
}

.expandButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.expandButton {
  background-color: #fff;
  color: var(--text-color-black);
  border: none;
  padding: 2.5rem 4rem;
  font-size: 2.8rem;
  border-radius: 10rem;
  font-weight: 600;
}