@import '../../../assets/scss/themes.scss';

.containerBox {
  @include dialog-box-style(85rem);

  .noMenuTitle {
    font-size: 4.2rem;
    font-weight: bold;
  }
  .noMenuCheck {
    font-size: 3.6rem;
    width: 100%;
    text-align: center;
    margin-top: 3rem;
    box-sizing: border-box;
  }
  .reasonTitle {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .backHome {
    margin-top: 5rem;
    width: 40rem;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    color: var(--text-color-black);
    border-radius: 4rem;
    font-weight: bold;
    background-color: var(--primary-selected-color);
  }
}
