

.container {
  margin: auto;
  height: 100%;
  background: #fff;
  overflow: hidden;
  .content {
    margin: 0 auto;
    width: calc(100vw - 30rem);
    margin-top: 15rem;
    height: calc(100vh - 18rem);
  }
}
