.endPointDialog {
  padding: 5rem;
  background-color: #fff;
  .endPointTitle {
    font-weight: bold;
    font-size: 3.2rem;
  }
  .endPointInfo {
    font-size: 2.8rem;
    margin-top: 3.2rem;
  }
}
