@import '../../assets/scss/themes.scss';

.orderPageLoading {
  width: 100vw;
  height: 100vh;
  background-color: var(--background-grey);
  display: flex;
  align-items: center;
  justify-content: center;
  .loadingText {
    font-size: 5rem;
    color: #000;
    .itemName {
      font-size: 3.6rem;
      font-weight: bold;
      margin-top: 4rem;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

.orderPage {
  //top: 8rem;
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
}

.orderPageBody {
  display: flex;
  .emptyWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
}

.topMenu {
  display: block;
}

// header: 8rem, requireTip: 6.4rem+0.2rem
.orderPageRequire {
  & > div[class*='categoryList'],
  & > div[class*='currentItemList'] {
    height: calc(100vh - 14.6rem);
  }
}

.bannerWrapper {
  width: 70rem;
  .banner {
    width: 100%;
    height: 70rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 4rem;
  }
  .start {
    width: 100%;
    margin-top: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 2.4rem 0;
    border-radius: 5rem;
    font-size: 3.2rem;
  }
}

.waitingTimeWrapper {
  @include dialog-box-style(70rem);

  .waitingTimeImg {
    width: 18rem;
    margin-bottom: 4.8rem;
  }

  .gotIt {
    margin-top: 5rem;
    width: 40rem;
    height: 8rem;
    font-size: 3rem;
    text-align: center;
    line-height: 8rem;
    color: var(--text-color-black);
    border-radius: 4rem;
    font-weight: bold;
    background-color: var(--primary-selected-color);
  }
}
