.loadingBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  .itemBox {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 58%;
    .itemName {
      font-size: 3.6rem;
      font-weight: bold;
      margin: 4rem;
      word-wrap: break-word;
      word-break: break-word;
    }
  }
}

@media screen and (max-width: 1201px) {
  .loadingBox {
    flex-direction: column;
  }
}
